<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<title>gameHistory</title>
<link href="css/todos.css" media="all" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/todo.css">
<script
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="js/example1002.js"></script>
</head>
<body>
    <h3>Example1002</h3>
    <form ng-controller="myController">
        <label for="name">name: </label> <input id="name" name="name"
            type="text" ng-model="name" /> <a href=""
            ng-click="onclick()">submit</a>
        <div>{{msg}}</div>
    </form>

</body>
</html>